html {
  font-size: clamp(0.5rem, 1.5vh, 2rem);

  font-family: Pretendard-Regular, serif;
}


.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: var(--color-primary-text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);

  >.numbers {
    text-align: center;
    z-index: 10;
  }

  >.numbers > .day {
    font-size: 2rem;
  }

  >.numbers > .time {
    font-size: 10rem;
  }

  >.clock {
    position: fixed;

    height: 100%;
    width: 100%;

    z-index: 1;

    >.hand {
      position: fixed;

      top: 50%;
      left: 50%;

      display: block;

    }

    >.s_hand {
      height: 90%;
      width: 0.5%;
      transform: translate(-50%, -50%) rotate(0deg);
    }

    >.m_hand {
      height: 90%;
      width: 1%;
      transform: translate(-50%, -50%) rotate(0deg);
    }

    >.h_hand {
      height: 60%;
      width: 1%;
      transform: translate(-50%, -50%) rotate(0deg);
    }

    >.hand > .draw {
      display: block;

      background-color: var(--color-primary-clock-head);

      height: 55%;
      width: 100%;

    }
  }
}