html {
  font-size: clamp(0.5rem, 1.5vh, 2rem);

  font-family: Pretendard-Regular, serif;
}


.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: var(--color-primary-text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);

  >.numbers {
    text-align: center;
  }

  >.numbers > .day {
    font-size: 2rem;
  }

  >.numbers > .time {
    font-size: 10rem;
  }

  >.clock {
    position: fixed;

    height: 100%;
    width: 100%;

    z-index: -1;
  }
}